@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box !important;
}

html, body {
  background-color: var(--primary-color)
}
:root {
  --primary-color: #060820;
  --secondary-color: #524dd3;
  --nav-bg : #1b1933;
  color-scheme: light !important;
}

.swiper-wrapper {
  align-items: stretch !important;
}

.swiper-pagination-bullet {
  background-color: #f0f0f0 !important;
  opacity: .3 !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondary-color) !important;
  width: 14px !important;
  height: 14px !important;
  opacity: 1 !important;
}
@media (width < 768px) {
  .swiper-pagination-bullet {
    background-color: #f0f0f0 !important;
    opacity: 1 !important;
    width: 12px !important;
    height: 12px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--secondary-color) !important;
    width: 14px !important;
    height: 14px !important;
  }
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #060820;
    --secondary-color: #524dd3;
    --nav-bg : #1b1933;
    color-scheme: dark !important;
  }
}